/* Animations */
@keyframes titleAnim {
    0% {
        text-shadow: black 5px 5px 3px;
    }
    100% {
        text-shadow: black 7px 7px 0px;
    }
}

/* Body */
body{
    background: linear-gradient(rgb(34, 34, 34), rgb(25, 19, 54));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
    color: rgb(213, 86, 213);
    font-family: 'Trebuchet MS', sans-serif;
    margin: 25px;
}

/* Elements */
h1{
    font-size: 35px;
}
a{
    text-decoration: none;
    color: rgb(237, 144, 237);
}
a:hover{
    text-decoration: underline;
}
table{
    border: 1px white solid;
    border-spacing: 0;
}
td, th{
    border: 1px white solid;
    padding: 5px;
}
button{
    background-color: rgb(213, 86, 213);
    border: none;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    cursor: pointer;
}

/* Classes */
.title{
    font-size: 50px;
    text-shadow: black 5px 5px 3px;
}
.title:hover{
    animation: titleAnim 0.5s ease forwards
}
.centered{
    text-align: center;
    margin: auto;
    display: block;
}
.centered-heading{
    text-align: center;
    display: block;
}
.inline-block{
    display: inline-block;
}
.header-element{
    display: inline;
    height: 50;
    vertical-align: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
}
.header-seperator{
    color: white;
    display: inline;
    height: 50;
    border: 2px white solid;
    vertical-align: 10px;
    margin-left: 15px;
    font-size: 30px;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: rgb(56, 34, 56);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    margin-bottom: 10px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip-icon {
    font-style: normal; /* Prevent italic text */
    font-weight: bold;
    background-color: rgb(56, 34, 56);
    border-radius: 50%;
    padding: 5px 10px;
}
.header-with-tooltip {
    display: inline-flex; /* Ensure the header and tooltip are aligned horizontally */
    margin-right: 6px; /* Add some spacing between the header and the icon */
}
.box{
    background: rgb(56, 34, 56);
    border-radius: 25px;
    padding: 15px;
}
.game-box{
    background: rgb(56, 34, 56);
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    overflow: auto;
}
.thumbnail{
    mask-image: linear-gradient(
        rgba(255, 255, 255, 1), /* 25% */
        rgba(255, 255, 255, 0.5), /* 50% */
        rgba(255, 255, 255, 0.2), /* 75% */
        rgba(255, 255, 255, 0)  /* 100% */
    );
    width: 100%;
    margin-bottom: 20px;
}
.thumbnail-text{
    position: absolute;
}

/* IDs */
#header{
    background:none transparent;
    color: rgb(213, 86, 213);
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}
#header-iframe{
    height: 60px;
    width: 100%;
    border: 0px solid;
    padding-bottom: 15px;
    border-bottom: 3px white solid;
    margin: 0;
}
#homepage-gallery{
    margin: 30px;
    padding: 20px;
    background-color: rgb(56, 34, 56);
    border-radius: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}
#play-button{
    width: 50%;
    background-color: rgb(20, 218, 20);
}
#view-game-button{
    width: 50%;
    background-color: rgb(56, 34, 56);
}